{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block body %}

<h2>Here are some fun facts about me:</h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
<ul>
  <h3><li>I love puppies!</li></h3>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
   <iframe width="320" height="215"
     src="https://www.youtube.com/embed/5ssz2CI_PQM"
   </iframe>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <h3><li>My favorite dance of all times</li></h3>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <iframe width="320" height="215"
   src="https://www.youtube.com/embed/hn_7PpyxqZM"
  </iframe>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
<h3><li>My favorite dance of all times</li></h3>
<p>&nbsp;</p>
  <p>&nbsp;</p>
  <iframe width="320" height="215"
   src="https://www.youtube.com/embed/hn_7PpyxqZM"
  </iframe> 
</ul>
{% endblock %}