{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Projects{% endblock %}
{% block body %}

<h2>Here is my github link for projects and another fun fact:</h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3><a href="https://github.com/AnaSula/NYU-Python-Programming-Class">Visit my GitHub.</a></h3>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>I love bears and I have one. Meet my bear Molly!</h3>
<p>&nbsp;</p>
<p>&nbsp;</p>
<img src="{% static 'aboutme/molly.JPG' %}" alt="Molly" height="800" width="600"/>
{% endblock %}